* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  color: #3B3B4F;
  text-decoration: none;
  text-transform: capitalize;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

.container {
  margin: auto;
  width: 75%;
}

.spinner {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.spinner .spinner-content {
  position: relative;
  width: 40px;
  height: 40px;
}
.spinner .arc {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top-color: #d0d0d5;
  box-sizing: border-box;
  border-radius: 50%;
  animation: spinnerAnimation 1.5s linear infinite;
}
.spinner .arc:nth-child(2) {
  border: 4px solid transparent;
  border-bottom-color: #d0d0d5;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background-color: #011A31;
}

.header-content {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name a {
  color: #d0d0d5;
  font-size: 21px;
  transition: color 0.3s ease-in-out;
}
.brand-name a:hover {
  color: #fff;
}

.nav-links ul {
  display: flex;
}
.nav-links ul li {
  margin-left: 25px;
}
.nav-links ul li a {
  color: #d0d0d5;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  font-size: 15px;
}
.nav-links ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.log-systeme {
  display: flex;
  align-items: center;
}
.log-systeme .new-user-btn a {
  margin-left: 10px;
  padding: 8px 15px;
  color: #fff;
  background-color: #626EE3;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}
.log-systeme .new-user-btn a:hover {
  background-color: #4651b8;
}
.log-systeme .login-user-btn {
  display: flex;
  align-items: center;
}
.log-systeme .login-user-btn .user {
  margin-right: 20px;
  display: flex;
}
.log-systeme .login-user-btn .user span {
  margin-left: 5px;
  color: #d0d0d5;
}
.log-systeme .login-user-btn .user i {
  color: #d0d0d5;
}
.log-systeme .login-user-btn button {
  margin-right: 10px;
  padding: 6px 10px;
  background-color: #d0d0d5;
  border-radius: 4px;
  font-size: 14px;
  color: #011A31;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011A31;
}

.hero-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-text {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-section-text .hero-icon {
  cursor: pointer;
  margin-bottom: 20px;
}
.hero-section-text .hero-icon a i {
  font-size: 50px;
  color: #ececec;
}
.hero-section-text .hero-title {
  margin-bottom: 10px;
  color: #f6f6f6;
  font-size: 23px;
  font-family: Tahoma, roboto;
  font-size: 35px;
}
.hero-section-text .hero-description p {
  color: #d0d0d5;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1.8;
}
.hero-section-text .hero-btn {
  margin-top: 35px;
}
.hero-section-text .hero-btn a {
  padding: 10px 20px;
  color: #fff;
  background-color: #626EE3;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}
.hero-section-text .hero-btn a:hover {
  background-color: #4651b8;
}

.hero-section-image img {
  width: 100%;
}

.services-section {
  padding: 100px 0;
  background-color: #F6F9FC;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-item {
  padding: 40px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eee;
  border-top: 5px solid #164270;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-icon i {
  color: #164270;
  font-size: 50px;
}

.service-title {
  margin: 20px 0;
  color: #011A31;
}

.service-description p {
  color: #666;
  line-height: 1.5;
}

.sign-screen {
  min-height: 88.8vh;
  background-color: #011A31;
}
.sign-screen .container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.sign-screen .container .sign-screen-content {
  margin-top: 50px;
}
.sign-screen .container .sign-screen-content .form-title h1 {
  margin-bottom: 20px;
  color: #011A31;
  text-decoration: underline;
}
.sign-screen .container .sign-screen-content .form-message {
  margin-bottom: 15px;
  padding: 10px;
  width: 350px;
  background-color: rgba(234, 82, 82, 0.8);
}
.sign-screen .container .sign-screen-content .form-message p {
  color: #eee;
  font-size: 14px;
  line-height: 1.6;
}
.sign-screen .container .sign-screen-content .form-error {
  margin-bottom: 15px;
  padding: 10px;
  width: 350px;
  background-color: rgba(234, 82, 82, 0.8);
}
.sign-screen .container .sign-screen-content .form-error p {
  color: #eee;
  font-size: 14px;
  line-height: 1.6;
}
.sign-screen .container .sign-screen-content form .form-input {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}
.sign-screen .container .sign-screen-content form .form-input label {
  font-size: 15px;
  color: #d0d0d5;
}
.sign-screen .container .sign-screen-content form .form-input input {
  margin-top: 5px;
  padding: 9px;
  width: 350px;
  color: #444;
  border: 1px solid #F6F9FC;
  border-radius: 5px;
  background-color: #F6F9FC;
}
.sign-screen .container .sign-screen-content form .form-btn {
  margin: 15px 0 20px 0;
}
.sign-screen .container .sign-screen-content form .form-btn input {
  color: #fff;
  background-color: #626EE3;
  border: none;
  padding: 9px 30px;
  border-radius: 3px;
  cursor: pointer;
}
.sign-screen .container .sign-screen-content form .form-btn input:hover {
  background-color: #242431;
}
.sign-screen .container .sign-screen-content .form-footer {
  margin-bottom: 50px;
}
.sign-screen .container .sign-screen-content .form-footer p {
  color: #F6F9FC;
}
.sign-screen .container .sign-screen-content .form-footer a {
  margin-left: 5px;
  color: #626EE3;
}

.contact-screen {
  min-height: 88.6vh;
  background-color: #011A31;
}
.contact-screen .container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.contact-screen .container .contact-screen-content {
  margin-top: 90px;
  width: 100%;
}
.contact-screen .container .contact-screen-content .form-title h1 {
  margin-bottom: 20px;
  color: #d0d0d5;
  text-decoration: underline;
  text-align: center;
}
.contact-screen .container .contact-screen-content form {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.contact-screen .container .contact-screen-content form .form-info {
  margin-right: 20px;
}
.contact-screen .container .contact-screen-content form .form-info .form-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.contact-screen .container .contact-screen-content form .form-info .form-input label {
  margin-bottom: 5px;
  color: #d0d0d5;
}
.contact-screen .container .contact-screen-content form .form-info .form-input input {
  padding: 9px;
  width: 350px;
  border: 1px solid #d0d0d5;
  border-radius: 5px;
  background-color: #F6F9FC;
}
.contact-screen .container .contact-screen-content form .form-message {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.contact-screen .container .contact-screen-content form .form-message textarea {
  padding: 7px;
  width: 350px;
  height: 200px;
  color: #444;
  background-color: #F6F9FC;
  border: 1px solid #F6F9FC;
  border-radius: 5px;
  outline: none;
}
.contact-screen .container .contact-screen-content form .form-message .form-btn {
  margin-top: 25px;
}
.contact-screen .container .contact-screen-content form .form-message .form-btn input {
  width: 350px;
  color: #fff;
  background-color: #626EE3;
  border: none;
  padding: 9px 30px;
  border-radius: 3px;
  cursor: pointer;
}
.contact-screen .container .contact-screen-content form .form-message .form-btn input:hover {
  background-color: #4f5bc9;
}

footer {
  color: #d0d0d5;
  background-color: #011A31;
  border-top: 1px solid rgba(246, 249, 252, 0.2);
}

.footer-content {
  padding: 25px 0;
}
.footer-content p {
  text-align: center;
}