// Variables
// $main-black:#3B3B4F;
$main-black:#011A31;
$main-gray: #5f6368;
$main-blue:#626EE3;
$light-blue:#F6F9FC;
$light-gray: #d0d0d5;
$main-purple: #F44292;

// Start General Style
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  color: #3B3B4F;
  text-decoration: none;
  text-transform: capitalize;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

i {
  cursor: pointer;
}

.container {
  margin: auto;
  width: 85%;
}

@media (max-width:768px) {
  .container {
    width: 90%;
  }
}

.section-title {
  margin-bottom: 50px;
  text-align: center;

  h2 {
    font-size: 32px;
    color: #444;
  }

  span {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: $main-blue;
  }
}

// End General Style

// Start Spinner

.spinner {
  padding: 15px 0;
  display: flex;
  justify-content: center;

  .spinner-content {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .arc {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-top-color: $light-gray;
    box-sizing: border-box;
    border-radius: 50%;
    animation: spinnerAnimation 1.5s linear infinite;
  }

  .arc:nth-child(2) {
    border: 4px solid transparent;
    border-bottom-color: $light-gray;
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// End Spinner

// Start Header Section
header {
  background-color: $main-black;
}

.header-content {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  a {
    color: #d0d0d5;
    font-size: 18px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

.nav-links {

  ul {
    display: flex;

    li {
      margin-left: 25px;

      a {
        color: $light-gray;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
        font-size: 15px;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }

      span {
        color: $light-gray;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

.log-system {
  display: flex;
  align-items: center;

  .new-user-btn {
    a {
      margin-left: 10px;
      padding: 8px 15px;
      color: #fff;
      background-color: $main-blue;
      border: none;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: #4651b8;

      }
    }
  }

  .login-user-btn {
    display: flex;
    align-items: center;

    .user {
      margin-right: 20px;
      display: flex;


      span {
        margin-left: 5px;
        color: $light-gray;
      }

      i {
        color: $light-gray;
      }
    }

    button {
      margin-right: 10px;
      padding: 6px 10px;
      background-color: $light-gray;
      border-radius: 4px;
      font-size: 14px;
      color: $main-black;
    }
  }
}

.mobile-menu {
  display: none;

  i {
    color: $light-gray;
    font-size: 28px;
  }
}

// Header Media Queries
@media (max-width : 768px) {
  .header {
    position: relative;
    border-bottom: 1px solid #d0d0d531;

    .container {
      width: 90%;
    }
  }

  .header-content {
    padding: 15px;
    overflow: hidden;

  }

  .nav-links {
    transform: translate(100%, 25.2%);
    width: 100%;
    position: absolute;
    color: $main-black;
    background-color: $light-gray;
    right: 0;
    top: 0;
    transition: transform 0.7s ease-in-out;

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 0;
        padding: 20px;

        &:hover {
          background-color: #c5c5c5;
        }

        a {
          display: block;
          color: $main-black;

          &:hover {
            color: $main-black;
            text-decoration: none;
          }
        }

        span {
          color: $main-black;

          &:hover {
            color: $main-black;
            text-decoration: none;
          }

        }

      }
    }

  }

  .nav-links.open {
    visibility: visible;
    transition: transform 0.7s ease-in-out;
    transform: translate(0, 25.2%);
  }

  .log-system {
    display: none;
  }

  .login-user-btn {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

// End Header Section

// Start Home Screen
.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-black;
}

.hero-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-text {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .hero-icon {
    cursor: pointer;
    margin-bottom: 20px;

    a {
      i {
        font-size: 50px;
        color: #ececec;
      }
    }
  }

  .hero-title {
    margin-bottom: 10px;
    color: #f6f6f6;
    font-family: Tahoma, roboto;
    font-size: 35px;
  }

  .hero-description {
    p {
      color: $light-gray;
      font-family: Tahoma;
      font-size: 18px;
      line-height: 1.8;
    }
  }

  .hero-btn {
    margin-top: 35px;

    a {
      padding: 10px 20px;
      color: #fff;
      background-color: $main-blue;
      border: none;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: #4651b8;

      }
    }
  }
}

.hero-section-image {
  img {
    width: 100%;
  }
}

// Home Screen Media Queries
@media(max-width:768px) {
  .hero-section {

    padding-top: 40px;

    .container {
      width: 90%;
    }
  }

  .hero-section-content {
    flex-direction: column;
  }

  .hero-section-text {
    margin-bottom: 40px;
    text-align: center;

    .hero-title {
      font-size: 23px;
    }

    .hero-description {
      margin: 10px 0;

      p {

        font-size: 15px;

      }
    }
  }


}

// End Home Screen

// Start Services Section

.services-section {
  padding: 100px 0;
  background-color: $light-blue;

}

.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-item {
  padding: 40px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eee;
  border-top: 5px solid #164270;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.service-icon {
  i {
    color: #164270;
    font-size: 50px;
  }
}

.service-title {
  margin: 20px 0;
  color: $main-black;
}

.service-description {
  p {
    color: #666;
    line-height: 1.5;
  }
}

// Services Section Media Queries
@media (max-width:768px) {
  .services-section {
    padding: 50px 0;

    .container {
      width: 90%;
    }
  }

  .services-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

// End Services Section

// Start Banner Section

.banner-section {
  height: 50vh;
  background-attachment: fixed;
  background-image: url("/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-color: #4651b8;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 70%;
  text-align: center;

  q {
    display: block;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-family: 'Bitter', roboto, serif;
    letter-spacing: 2px;
  }

  span {
    margin: 20px 0;
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: coral;
  }

  p {
    color: #fff;
    font-size: 25px;
  }
}

// Start Media Queries
@media (max-width:768px) {
  .banner-section {
    height: 50vh;
  }

  .banner-content {
    width: 100%;
  }
}

// Start Banner Section

// Start Projects Section


.projects-section {
  padding: 100px 0;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);


  &:hover .text {
    bottom: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  .text {
    padding: 10px 0;
    position: absolute;
    bottom: -42px;
    color: #fff;
    background-color: $main-blue;
    width: 100%;
    text-align: center;
    z-index: 100;
    transition: all 0.6s ease-in-out;
    cursor: pointer;

    p {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

// Start Media Queries

@media (max-width:768px) {
  .projects-section {
    padding: 50px 0;
  }

  .projects-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

// End Projects Section

// Start Subscribe Section

.subscribe-section {
  height: 20vh;
  background-color: $main-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    text-transform: capitalize;
    font-style: italic;
  }

  .subscribe-form {
    display: flex;
    justify-content: space-between;


    .input {
      width: 300px;
      padding: 5px 10px;
      border: none;
    }

    .btn {
      padding: 10px 20px;
      color: #fff;
      background-color: $main-blue;
      text-transform: uppercase;
      border: none;
    }
  }
}

// Start Media Queries

@media (max-width:768px) {
  .subscribe-content {
    flex-direction: column;

    p {
      margin-bottom: 20px;
    }
  }
}

// End Subscribe Section 

// Start Why Section

.why-section {
  padding: 100px 0;
  background-color: #F6F9FC;
}

.why-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.reason-item {
  padding: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reason-icon {
  i {
    color: #164270;
    font-size: 40px;
  }
}

.reason-title {
  margin: 20px 0 15px 0;
}

.reason-description {
  color: #666;
  line-height: 1.5;
}

// Media Queries
@media (max-width:768px) {
  .why-section {
    padding: 50px 0;
  }

  .why-section-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

// End Why Section

// Start Contact Section

.contact-section {
  padding: 100px 0;
}

.contact-content {
  display: flex;
  justify-content: space-between;

  .map {
    width: 45%;
    border: 2px solid #eee;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    input {
      margin-bottom: 15px;
      width: 100%;
      padding: 10px;
      border: 1px solid #eee;
    }

    input.btn {
      color: #fff;
      background-color: $main-blue;
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 0;

      &:hover {
        background-color: #5a66cf;
      }
    }

    textarea {
      margin-bottom: 15px;
      padding: 5px;
      width: 100%;
      border: 1px solid #eee;
      outline: none;
    }
  }

}

// Start Media Queries

@media (max-width:768px) {
  .contact-content {
    flex-direction: column;

    .map {
      width: 100%;
      height: 300px;
      order: 1;
    }

    form {
      width: 100%;
      order: 0;
      margin-bottom: 30px;

      input {
        margin-bottom: 15px;

      }

      textarea {
        margin-bottom: 15px;

      }
    }

  }



}

// End Contact Section

// Start Sign Up and and Sign In Screens

.sign-screen {
  min-height: 88.8vh;
  background-color: $main-black;
  background-image: url("/images/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;

    .sign-screen-content {
      margin-top: 50px;

      .form-title {
        h1 {
          margin-bottom: 20px;
          color: $main-black;
          text-decoration: underline;
        }
      }

      .form-message {
        margin-bottom: 15px;
        padding: 10px;
        width: 350px;
        background-color: rgba(234, 82, 82, 0.8);

        p {
          color: #eee;
          font-size: 14px;
          line-height: 1.6;
        }
      }

      .form-error {
        margin-bottom: 15px;
        padding: 10px;
        width: 350px;
        background-color: rgba(234, 82, 82, 0.8);

        p {
          color: #eee;
          font-size: 14px;
          line-height: 1.6;
        }
      }

      form {
        .form-input {
          margin-bottom: 18px;
          display: flex;
          flex-direction: column;

          label {
            font-size: 15px;
            color: $light-gray;
          }

          input {
            margin-top: 5px;
            padding: 9px;
            width: 350px;
            color: #444;
            border: 1px solid $light-blue;
            border-radius: 5px;
            background-color: $light-blue;
          }
        }

        .form-btn {
          margin: 15px 0 20px 0;

          input {
            color: #fff;
            background-color: $main-blue;
            border: none;
            padding: 9px 30px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
              background-color: #242431;
            }
          }
        }
      }

      .form-footer {
        margin-bottom: 50px;

        p {
          color: $light-blue;
        }

        a {
          margin-left: 5px;
          color: $main-blue;
        }
      }
    }
  }
}

// End Sign Up and Sign In Screens

// Start Contact Screen

.contact-screen {
  min-height: 88.6vh;
  background-color: $main-black;
  background-image: url("/images/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;


  .container {
    height: 100%;
    display: flex;
    justify-content: center;

    .contact-screen-content {
      margin-top: 90px;
      width: 100%;

      .form-title {
        h1 {
          margin-bottom: 20px;
          color: $light-gray;
          text-decoration: underline;
          text-align: center;
        }
      }

      form {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .form-info {
          margin-right: 20px;

          .form-input {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 5px;
              color: $light-gray;
            }

            input {
              padding: 9px;
              width: 350px;
              border: 1px solid $light-gray;
              border-radius: 5px;
              background-color: $light-blue;
              ;
            }
          }
        }

        .form-message {
          margin-left: 20px;

          display: flex;
          flex-direction: column;
          margin-top: 25px;

          textarea {
            padding: 7px;
            width: 350px;
            height: 200px;
            color: #444;
            background-color: $light-blue;
            border: 1px solid $light-blue;
            border-radius: 5px;
            outline: none;
          }

          .form-btn {
            margin-top: 25px;

            input {
              width: 350px;
              color: #fff;
              background-color: $main-blue;
              border: none;
              padding: 9px 30px;
              border-radius: 3px;
              cursor: pointer;

              &:hover {
                background-color: #4f5bc9;
              }
            }
          }
        }

      }
    }
  }
}

// Contact Screen Media Quries


@media (max-width:768px) {
  .contact-screen-content {
    margin: 0 !important;
    padding: 50px;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-info {
      margin: 0 !important;
    }

    .form-message {
      margin-left: 0px !important;

    }
  }
}


// End Contact Screen

// Start Footer Section
footer {
  color: $light-gray;
  background-color: $main-black;
  border-top: 1px solid rgba(246, 249, 252, 0.2);
}

.footer-content {
  padding: 25px 0;

  p {
    text-align: center;
  }
}

// End Footer Section